{% extends 'main.html' %} {% comment %} [0] main.html에 확장. {% endcomment %}
{% block content %}
<h1>Home templates</h1>

<div>
    <div>
        {% comment %} [1] views.py에서 할당된 array값들을 사용하도록 for으로 풀어준다. {% endcomment %}
        {% for document in documents %}
        <div>
            {% comment %} [2] urls pattern에 document name값을 읽어와서 적용한다. {% endcomment %}
            <h5>{{document.id}} -- <a href="{% url 'document' document.id %}">{{document.name}}</a></h5>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}