{% load static %}
{% comment %} 이미지와 카테고리들이 포함되어있다. {% endcomment %}
<nav class='navigation-bar cat0lit'>
    <a href="/" class='cat0lit'><img class="logo cat0lit" src="{% static 'images/Upload/512x512_Blue&White.png' %}"></a>
    <form class="saerch0keyword cat0lit" method="get" action="">
        {% csrf_token %}
        <input class="saerch0keyword cat0lit" type="text" name="q" placeholder="feel free searching mate :)">
        <button class="saerch0keyword cat0lit" type="submit">search</button>
    </form>
    {% for category in categories %}
        {% if category.id == 5 %}
            {% if request.user.is_authenticated %}
                <a class='cat0lit' href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class='cat0lit' href="{% url 'login' %}">{{category.name}}</a>
            {% endif %}
        {% else %}
            <a class='cat0lit' href="{% url 'category' category.id %}">{{category.name}}</a>
        {% endif %}
    {% endfor %}
</nav>
<div class="footer">
    a
</div>